body{
	font-size:14px;
	line-height:1.4;
	padding:10px;
	font-family: Arial, sans-serif;
}
.container{
	width: 980px;
	margin: 0 auto;
}
.menu {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    border: 1px solid #e7e7e7;
    width: 230px;
}
.menu__item {
    list-style: none;
}
.menu__link.active{
	background-color:#0088cc;
	color:#fff;
}
.menu__link {
    text-decoration: none;
    color: #0088cc;
    padding: 14px 20px 9px 15px;
    display: block;
    border-bottom: 1px solid #e7e7e7;
	transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.menu__item:last-child .menu__link{
	border-bottom: 0;
}
.menu__link:hover{
	background-color:#f5f5f5;
    color: #0088cc;
}